include LICENSE README.md
recursive-include ecrterm *
prune ecrterm/tests
#recursive-exclude ecrterm __pycache__
#recursive-exclude ecrterm *.pyc
#recursive-exclude ecrterm *.pyo
#recursive-exclude ecrterm *.orig
